*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#n1{
    background-color: red;
    height: 100px;
    width: 200px;
    text-align: center;
}

#n1:hover{
    transform: scale(1.1);
}

#n2{
    background-color: red;
    height: 100px;
    width: 200px;
    text-align: center;
}


#n2:hover{
    transform: translate(12px);
}

#n3{
    background-color: red;
    height: 100px;
    width: 200px;
    text-align: center;
}


#n3:hover{
    transform: rotate(36deg);
}