@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

.card{
    background-color: rgb(29, 34, 43);
    width: 360px;
    height: 370px;
    border-radius: 30px;
    padding: 20px;
}


.start-img{
    background-color:  rgb(44, 49, 59);
    width: 35px;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
}


.info{
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}

p{
    margin-top: 10px;
    color: rgb(101, 100, 100);
}

.buttons{
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin-top: 30px;
    gap: 20px;
}

.bt{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background-color:  rgb(44, 49, 59);
    border: none;
    color: white;
    transition: 0.4s;
}


.bt:hover{
    background-color: hsl(25, 97%, 53%);
}

#sub{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subbut{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#sub{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-size: 15px;
    padding: 0px;
    font-weight: 600;
    transition: 0.5s;
    background-color: hsl(25, 97%, 53%);
}

#sub:hover{
    background-color:white;
}